.grid-container {
    display: grid;
    /*grid-gap: 10px;*/
    height: 100vh;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-auto-flow: column;
    place-content: stretch space-between;

}
.item1 {
    place-self: end start;


}
.grid-item {

}

/*css*/
.grid-container {
    border: 2px solid red;
}

div > div:nth-child(odd) {
    background: #666;
    font-size: 25px;
}
div > div:nth-child(even) {
    background: #999;
    font-size: 25px;
}